# [general]
# divider=, # divider for path lists, default=,

[search]
# AppData folders are used as sentinels to detect user folders
paths=/run/media/lucasew/Dados/DADOS/Lucas,~ # paths where to look for AppData folders for wineprefixes and Windows
extra_homes=/run/media/lucasew/Dados/DADOS/Lucas # paths that are assumed to have AppData folders

[flatout-2] # example of config for one specific game rule set
# not_installed=1 # the program will complain if the rule uses $installdir and you dont use this
installdir=~/.local/share/Steam/steamapps/common/FlatOut2,/run/media/lucasew/Dados/DADOS/Jogos/FlatOut 2 # you can specify multiple installdir for the games that store saves where they are installed, all saves are copied in this order to the output folder, in this case flatout-2/data
